@charset "utf-8";
/* CSS Document */
a,
a:link,
a:visited,
a:focus,
a:hover,
a:active {
    outline: none !important;
}
* {
    margin: 0;
    padding: 0;
    outline: none;
}
h1,
h2,
h3,
h4 {
    padding: 0;
    margin: 0;
}
html {
    height: 100%;
    min-height: 100%;
}
body {
    height: 100%;
    min-height: 100%;
    padding: 0;
    margin: 0;
}